---
import BaseHead from '../components/BaseHead.astro';
import Layout from '../layouts/Layout.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Layout>
		  <h2>ようこそ</h2>
		  <p>ここは数理神経科学ブログのホームです。</p>
		</Layout>
	  </body>
</html>
