---
const today = new Date();
---

<footer>
  <hr />
  <p>&copy; {today.getFullYear()} lactoneinfo. All rights reserved.</p>
</footer>

<style>
footer {
    text-align: center;
    padding: 1em;
    font-size: 0.9em;
    color: var(--color-subtle);
}

hr {
    margin-bottom: 0.5em;
    border: none;
    border-top: 1px solid var(--color-border);
  }
</style>
