---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---
<div class="wrapper">
    <Header />
    <div class="content-wrapper">
        <main class="typography"><slot /></main>
        <Footer />
    </div>
</div>

<style>
.wrapper {
    display: flex;
    margin: 0 auto;
    width: 100%;
    max-width: 1080px;
    min-height: 100vh;
}

.wrapper > header,
.wrapper > :global(header) {
  flex: 0 0 180px;
}


.content-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 900;
    box-sizing: border-box;
    background-color: var(--color-bg);
}

main {
    padding: 1em 2em;
    flex: 1;
    overflow: auto;
}

@media (max-width: 720px) {
  .wrapper {
    max-width: 100vh;
    overflow-x: hidden;
  }
  .content-wrapper {
    max-width: 100vh;
    overflow-x: hidden;
  }

  .wrapper > header,
  .wrapper > :global(header) {
    display: none;
  }
}


</style>
